<div class="top-explanation">
  <h1>Privacy Policy</h1>
</div>

<div class="policy-body">
  <p>
    We'll send you occasional email newsletters and notifications of upcoming events.  You can always tell us we're sending too much stuff (we're human) or unsubscribe altogether (though what's the point then?).
  </p>
  <p>
    We're not interested in giving or selling your information to spammers or Facebook or anyone else.
  </p>
  <p>
    At some point in the future we may help grads to find each other online, but there would be an opt-out if you didn't want to participate. 
  </p>
  <p>
    Reach out with any questions.
  </p>
</div>