<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>
      <%= @user.fname %>, you're now signed up for the Coding School Alumni Association.
    </h2>
    <h2>
      Stay tuned for what comes next!
    </h2>
    <p>
      We'll be hosting events and staying in touch but where we go from there is largely up to you.  Let us know what you want!  We've got the power of a large group of amazing people behind us and can use it to pull together some pretty exciting stuff: speakers, networking, education, hackathons... you name it.  
    </p>
    <p>
      Also, if you'd like to get involved and help organize or contribute in any way, reach out to <a href="mailto:erikcsaa@gmail.com">erikcsaa@gmail.com</a>.
    </p>
    <p>
      I can't wait to see you out at our next event!
    </p>
    <p>
      Sincerely,
    </p>
    <p class="signature">
      Erik Trautman <br>
      President, CSAA
    </p>
    <hr>
    <p class="about">
      The CSAA is a social and professional network of alumni from fulltime intensive coding schools that is dedicated to helping its members connect with each other and accelerate their careers.
    </p>
  </body>
</html>

<style>
  body{
    font-size: 100%;
    width: 30em; 
    margin: 30px;
  }
  h1{
    font-size: 2.25em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.25em;
  }
  p{
    font-size: 1em;
    line-height: 1.5em;
  }
  p.signature{
    line-height: 1.25em;
    margin-bottom: 3em;
  }
  p.about{
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: .8em;
  }
</style>