<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div id="container">
      <div id="banner">Coding School Alumni Association</div>
      <div id="content">
        <h1>Welcome, <%= @user.fname %>!</h1>
        <h2 class="subheading">
          You're now signed up for the Coding School Alumni Association.
        </h2>
        <hr>
        <div id="text">
          <p class="event">
            Our next event is on <strong>Tuesday February 18th</strong> at New Relic in San Francisco.  The theme is how to scale a simple web app into a "real" tech company... sort of like the jump you made (or will soon make) from learning to build basic CRUD apps in school to working at a company with a giant and fully scaled mess of a code base.  Sign up for that (free) at <a href="http://csaa-winter-2014.eventbrite.com/">Eventbrite.com</a>.
          </p>
          <p>
            A question: What would you do with hundreds of fun, smart and motivated fellow former bootcampers?
          </p>
          <p>  
            We've got the power of a large group of amazing people behind us and can use it to pull together some pretty exciting stuff: speakers, networking, education, hackathons, kickball teams... you name it, you got it.  And that includes more than just San Francisco stuff.
          </p>
          <p>
            So if you've got ideas or would like to get involved and help organize or contribute in any way, please let me know at <a href="mailto:erik@theodinproject.com">erik@theodinproject.com</a>.
          </p>
          <p>
            I can't wait to see you out at our next event!
          </p>
          <p>
            Sincerely,
          </p>
          <p class="signature">
            Erik Trautman <br>
            President, CSAA
          </p>
        </div>
        <hr>
        <p class="about">
          The CSAA is a social and professional network of alumni from fulltime intensive coding schools that is dedicated to helping its members connect with each other and accelerate their careers.
        </p>
      </div>
    </div>
  </body>
</html>

<style>
  html{
  }
  body{
    background-color: #1F4166;
    font-size: 100%;
    width: 45em;
  }
  h1{
    font-size: 2.25em;
    border: none;
  }
  h2{
    font-size: 1.5em;
    line-height: 1.25em;
    border: none;
  }
  h3{
    font-size: 1.25em;
  }
  p{
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  #container{
    margin: 30px auto;
    width: 36em; 
    background-color: #ffe;
    border: 1px solid #701111;
  }
  #content{
    color: #036;
    padding: 1em 2em;
  }
  #banner{
    font-variant: small-caps;
    font-size: 1.75em;
    line-height: 2em;
    background-color: #d64b4b;
    color: #701111;
    text-align: center;
  }
  #text{
    margin: 2em auto 3em auto;
  }
  h2.subheading{
    margin-bottom: .75em;
  }
  p.signature{
    line-height: 1.25em;
  }
  p.about{
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: .8em;
  }
  p.event{
    /*color: #66c;*/
  }

</style>