
<div class="top-explanation">
  <h1>
    Thanks for Signing Up!
  </h1>
</div>

<div class="sub-explanation">
  <h3>
    We'll be in touch shortly about our next event.
  </h3>
</div>

<hr>

<div class="thank-you-text">
  <p>
    But until then...
  </p>
  <h3 class="plea">Please invite your fellow alums to join!
  </h3>
  <h3>
    Send the link for <a href="<%= root_url %>" class="referral-link"><%= root_url %></a> to your alumni mailing list or let them know in person.
  </h3>
  <p>
    The more the merrier!
  </p>

</div>

