
<div id="splash-content-container">
  
  <h1>Coding School Alumni Association</h1>
  <div class="top-explanation">
    <h3>
      The CSAA is a private network of alumni from select full-time vocationally-focused coding schools designed to help graduates connect with their future friends, coworkers and cofounders.
    </h3>
  </div>

  <div class="activities">
    <ul>
      <li>Jobs</li>
      <li>Networking</li>
      <li>Happy Hours</li>
      <li>Special Events</li>
      <li>Career Advice</li>
      <li>Mentorship</li>
      <li>Community</li>
      <li>Education</li>
      <li>Hacking</li>
      <li>Co-Founding</li>
      <li>Nerd Humor</li>
      <li>Jobs</li>
      <li>Hackathons</li>
    </ul>
  </div>

  <div class="cta">
    <h2>
      Sign up for access to our alumni events and newsletter
    </h2>
  </div>

  <div class="signup-form">
    <%= form_for @user, :url => "validate_user",
          :html => { :onsubmit => "return(validateForm())"} do |f| %>
      <label>School:</label>
      <%= collection_select :school, :school_id, @schools_list, :id, :name, :prompt => true %>
      <label for="cohort_id">
        Cohort:
      </label>
      <select name="cohort_id" id="cohort-combobox">
        <option value>Select School First</option>
      </select>
      <%= f.submit :value => "Sign up FREE with LinkedIn" %>
    <% end %>
  </div>

  <%= content_tag :div, :class => "cohort_list", :data => {cohort_list: @cohorts_list } do end%>

</div>

<script>
  $(function(){

    // on selection made or change made to the school box
    // grab the cohort data and display it for that cohort only
    $("#school_school_id").change(function(){

      $("#cohort-combobox").html("<option value>Please Select</option>");
      var selectedSchoolId = $(this).val();
      var cohortList = $(".cohort_list").data("cohort-list")

      // create a new select box in the right place for each item
      if(cohortList != null){
        cohortList.forEach(function(data){
          console.log(data);
          if(data.school_id == selectedSchoolId){
            var start = new Date(data.start_date);
            var finish = new Date(data.end_date);
            var innerText =   data.city + ": " +
                              (start.getMonth() + 1) + "/" + 
                              start.getDate() + "/" +
                              (start.getFullYear() - 2000) + " to " +
                              (finish.getMonth() + 1) + "/" + 
                              finish.getDate() + "/" +
                              (finish.getFullYear() - 2000);
            $("#cohort-combobox").append("<option value='" + data.id + "'>" + innerText + "</option>");
          }
        })
      }
    })
  });
    
  // validate the form to make sure it's filled out properly
  function validateForm(){
    if($("#cohort-combobox").val() == ""){
      alert("Please select your school and cohort \nIf yours isn't here, please email erik@theodinproject.com");
      return false;
    }
    return true;
  }

</script>





