<div id="splash-content-container">
  
  <div id="headline-ribbon">
    <div class="ribbon">
      <div class="ribbon-stitches-top"></div>
      <strong class="ribbon-content">
        <h1>Coding School Alumni Association</h1>
      </strong>
      <div class="ribbon-stitches-bottom"></div>
    </div>
  </div>

  <div id="main-content">
    <%= render :partial => "splash.html" %>
  </div>

  <div id="help-line">
    <p>
        Questions or issues? 
        <a href="mailto:erikcsaa@gmail.com">
          Contact Erik
        </a>
    </p>
  </div>
</div>