<div id="splash-content-container">
  
  <div id="headline-ribbon">
    <div class="ribbon">
      <div class="ribbon-stitches-top"></div>
      <strong class="ribbon-content">
        <h1>Coding School Alumni Association</h1>
      </strong>
      <div class="ribbon-stitches-bottom"></div>
    </div>
  </div>

  <div id="main-content">

    <% if @thanks %>
      <%= render :partial => "thanks.html" %>
    <% else %>
      <%= render :partial => "splash.html", :locals => {:cohorts_list => @cohorts_list, :schools_list => @schools_list, :user => @user} %>
    <% end %>

    <hr>

    <div class="activities">
      <p>
        Happy Hours
        &bull; Networking
        &bull; Special Events
        &bull; Career Advice
        &bull; Mentorship
        &bull; Community
        &bull; Education
        &bull; Hacking
        &bull; Co-Founding
        &bull; Nerd Humor
        &bull; Jobs
        &bull; Side Projects
        &bull; Tech Talks
        &bull; Hackathons
      </p>
    </div>

  </div>

  <div id="help-line">
    <p>
        Questions or issues? 
        <a href="mailto:erik@theodinproject.com">
          Contact Erik
        </a>
    </p>
  </div>
</div>